@model IEnumerable<MVCMusicStoreApplication.Models.Genre>

@{
    ViewBag.Title = "Browse";
}

<h2>Browse All Genres</h2>

@foreach (var genre in Model)
{
    <ul>
        <li>
            @Html.ActionLink(Html.DisplayFor(o => genre.Name).ToString(), "Index", new { id = genre.GenreId })
        </li>
    </ul>
}
