@model IEnumerable<MVCMusicStoreApplication.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Albums for the selected Genre</h2>

@foreach (var album in Model)
{
    <ul>
        <li>
            @Html.ActionLink(Html.DisplayFor(o => album.Title).ToString(), "Details", new { id = album.AlbumId})
        </li>
    </ul>
}

<div>
    @Html.ActionLink(" <- Back to Browse", "Browse")
</div>